<html lang="en">

<head>
    {% include 'includes/head.html.twig' %}
</head>

<!-- Estilos del toggle -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
        border-radius: 24px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: #007bff;
    }
    input:checked + .slider:before {
        transform: translateX(26px);
    }

    /* Ocultar por defecto */
    .hidden {
        display: none;
    }
</style>



<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'includes/sidebar.html.twig' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Navbar -->
                {% include 'includes/navbar.html.twig' %}
                <!-- End of Navbar -->

                <!-- Page Content -->
                <div class="container-fluid">
                    {% block body %}
                    
                    {% endblock %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'includes/footer.html.twig' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
    <--script src="/vendor/chart.js/Chart.min.js"></script!-->
    <--script src="/js/demo/chart-area-demo.js"></script!-->
    <--script src="/js/demo/chart-pie-demo.js"></script!-->

    <script>
        function setInnerHTMLWithScripts(element, html) {
            
            element.innerHTML = html;
            console.log('sasassaas')
            element.querySelectorAll("script").forEach(script => {
                const newScript = document.createElement("script");
                newScript.textContent = script.textContent;
                document.body.appendChild(newScript); // Ejecuta el script
                document.body.removeChild(newScript); // Limpia el DOM después de ejecutarlo
            });
        }

        FilePond.create(document.querySelector('.filepond'), {
            allowMultiple: false, // Solo una imagen
            imagePreviewHeight: 150, // Altura fija de la imagen
            stylePanelLayout: 'compact circle', // Diseño más compacto
        });

    </script>


</body>

</html>
