<form method="post" action="{{ path('app_programacion_consumo_ingreso_delete', {'id': programacion_consumo_ingreso.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programacion_consumo_ingreso.id) }}">
    <button class="btn">Delete</button>
</form>
